<div id="wrapper" class="header_section">
  <!-- banner section start -->
  <div class="banner_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="banner_taital">Become your most unstoppable self</h1>
          <p class="banner_text">Simple tool for learning Japanese. Master any subject, one success at a time. </p>
          <div class="btn_main">
            <div class="btn_start"><button type="button" class="btn btn-outline-info btn-lg">GET STARTED</button></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_main"><img src="assets/image/img1.png"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner section end -->

  <!--  blog section start -->
  <div class="blog_section layout_padding">
    <div class="container-fluid">
      <h1 class="blog_taital"> What we provide</h1>
      <div class="blog_section_1">
        <div class="row">
          <div class="col-md-6" style="padding-left: 0;">
            <div class="img_item1"><img style="height: 255px;" src="assets/image/item1.png"></div>
          </div>
          <div class="col-md-6">
            <h4 class="item_text">Memorise anything with flashcard</h4>
            <p class="ipsum_text">Research shows that testing yourself with flashcards is more
              effective than rereading your notes. Start learning Japanese with pre-made flashcards on a variety of topics.
            </p>
          </div>
        </div>
        <div class="blog_section_2">
          <div class="row">
            <div class="col-md-6">
              <div class="blog_taital_main">
                <h4 class="item_text">Various Topics</h4>
                <p class="ipsum_text">Learn Japanese vocabulary, grammar and pronunciation with many interesting topics.
                  Remember more, more efficiently - no matter what you're studying.
                </p>
              </div>
            </div>
            <div class="col-md-6" style="padding-right: 0;">
              <div class="img_item2"><img style="height: 255px;" src="assets/image/item2.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  blog section end -->
</div>
