<div class="profile-page">
  <div class="container bootstrap snippets bootdey">
    <h1 class="info-title">Your Profile</h1>
      <hr>
    <div class="row d-flex justify-content-center" style="margin-top: 30px;">
      <!-- <div class="col-lg-3">
        <div class="text-center">
          <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control">
        </div>
      </div> -->

      <div class="col-lg-12 personal-info">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userInfo.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userInfo.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Password</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 pw">000000</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date Created</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userInfo.createdAt | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-edit">
      <button type="button" class="btn btn-warning" (click)="openModal()">Edit</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Your Profile</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="g-3" id="form_edit" [formGroup]="profileEditForm" (ngSubmit)="editProfile()">
          <div class="modal-body">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-4">
                <label for="profileName" class="form-label" style="margin: 0px; padding: 6px 0px;">Username</label>
              </div>
              <div class="col-8">
                <input type="text" name="profileName" class="form-control" id="profileName" formControlName="profileName">
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <label for="profileEmail" class="form-label" style="margin: 0px; padding: 6px 0px;">Email</label>
              </div>
              <div class="col-8">
                <input type="email" name="profileEmail" class="form-control" id="profileEmail" formControlName="profileEmail">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>



