<div class="vocab-page">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
          <div>
            <button type="button" class="btn btn-success"(click)="openAddModal()"><i class="bi bi-plus-circle"></i> Add New Topic</button>
          </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Image</th>
              <!-- <th>ImageURL</th> -->
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vocabList | paginate: config; index as i">
          <td>{{ (config.currentPage - 1) * config.itemsPerPage + i + 1 }}</td>
          <td>{{item.name}}</td>
          <td><img style="height: 150px; width: 220px;" src="{{item.imageUrl}}" alt=""></td>
          <!-- <td>{{item.imageUrl}}</td> -->
          <td>
              <span id="edit" class="edit-btn" (click)="openEditModal(item)"><i class="bi bi-pencil-square"></i></span>
              <span id="delete" class="delete-btn" (click)="openDeleteModal(item)"><i class="bi bi-trash3-fill"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      class="custom-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="pageChanged($event)"
      #customPaginator>
    </pagination-controls>
  </div>
</div>

<!-- Modal Edit-->
<div class="modal" id="editModal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEdit}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Item</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="g-3" id="form_edit" [formGroup]="vocabTopicEditForm" (ngSubmit)="editTopic()">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" required>
            </div>
            <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Warning!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete the item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
          <button type="submit" class="btn btn-danger" (click)="deleteTopic()">Confirm Delete</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal Add -->
<div class="modal" id="addModal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAdd}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Topic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="g-3" id="form_add" [formGroup]="vocabTopicAddForm" (ngSubmit)="addTopic()">
          <div class="modal-body">
            <div class="form-group">
              <label for="nameAdd">Name</label>
              <input type="text" class="form-control" id="nameAdd" formControlName="nameAdd" required>
            </div>
            <div class="form-group">
              <label for="imgUrlAdd">Image URL</label>
              <input type="text" class="form-control" id="imgUrlAdd" formControlName="imgUrlAdd" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
