<div id="wrapper">
  <div class="container home-details">
    <div class="row">
      <div class="col-lg-12">
        <h2>let's study japanese</h2>
      </div>
      <div class="col-lg-12">
        <div class="content">
          <div class="row">
            <div class="col-lg-6">
              <div class="left-info" [routerLink]="['/grammar/sets']" routerLinkActive="active">
                <h4>grammar</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-info" [routerLink]="['/vocabulary-pronunciation/sets']">
                <h4>vocabulary - pronunciation</h4>
              </div>
            </div>
            <div class="col-lg-4">
              <img src="assets/image/intro-hira.png" alt="" style="border-radius: 23px;">
            </div>
            <div class="col-lg-4">
              <img src="assets/image/intro.png" alt="" style="border-radius: 23px;">
            </div>
            <div class="col-lg-4">
              <img src="assets/image/intro-kata.png" alt="" style="border-radius: 23px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
