<div id="header" class="header fixed-top d-flex align-items-center" >
  <div class="d-flex align-items-center justify-content-between">
      <a [routerLink]="['/home']" routerLinkActive="active" class="logo d-flex align-items-center" style="text-decoration:none">
          <img src="assets/image/favicon.png" alt="logo">
          <span class="d-none d-lg-block">S-learning</span>
      </a>
  </div>
  <div class="navbar-nav d-flex flex-lg-row flex-row" id="header-menu" *ngIf="!tokenAdmin && token">
    <div class="nav-item">
      <a class="underline" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </div>
    <div ngbDropdown class="nav-item" style="cursor:pointer;">
			<a class="underline" id="dropdownBasic1" ngbDropdownToggle>Topics</a>
			<div ngbDropdownMenu>
				<button ngbDropdownItem [routerLink]="['/grammar/sets']" routerLinkActive="active">
          Grammar
        </button>
				<button ngbDropdownItem [routerLink]="['/vocabulary-pronunciation/sets']" routerLinkActive="active">
          Vocab - Pronun
        </button>
			</div>
		</div>
  </div>
  <div class="navbar-nav d-flex flex-lg-row flex-row" id="header-menu" *ngIf="tokenAdmin">
    <div class="nav-item">
      <a class="underline" [routerLink]="['/dashboard/manager']" routerLinkActive="active">Management</a>
    </div>
    <div ngbDropdown class="nav-item" style="cursor:pointer;">
			<a class="underline" id="dropdownBasic1" ngbDropdownToggle>Topics</a>
			<div ngbDropdownMenu>
				<button ngbDropdownItem [routerLink]="['/grammar/sets']" routerLinkActive="active">
          Grammar
        </button>
				<button ngbDropdownItem [routerLink]="['/vocabulary-pronunciation/sets']" routerLinkActive="active">
          Vocab - Pronun
        </button>
			</div>
		</div>
  </div>
  <!-- <div class="search-bar" *ngIf="token">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search">
              <i class="bi bi-search"></i>
          </button>
      </form>
  </div> -->
  <div class="user-info navbar-right d-flex flex-lg-row align-items-center" *ngIf="token">
    <i class="bi bi-person" style="font-size: 24px;"></i>
    <div ngbDropdown class="nav-item user-dropdown" style="cursor: pointer;">
      <a class="user-name" ngbDropdownToggle><span>{{userInfo.username}}</span></a>
      <div class="dropdown-second-custom" ngbDropdownMenu>
				<a class="dropdown-item d-flex align-items-center" [routerLink]="['/profile/edit']" routerLinkActive="active"> <i class="bi bi-person-lines-fill"></i> <span>My Profile</span></a>
        <hr>
        <a class="dropdown-item d-flex align-items-center" [routerLink]="['/logout']" routerLinkActive="active"> <i class="bi bi-box-arrow-right"></i> <span>Logout</span> </a>
			</div>
    </div>
  </div>
  <div class="navbar-right">
    <button type="button" class="btn btn-light" style="margin-right: 10px;"[routerLink]="['/login']" routerLinkActive="active" *ngIf="!token">
      Login
    </button>
    <button type="button" class="btn btn-warning" style="margin-right: 20px;" [routerLink]="['/register']" routerLinkActive="active" *ngIf="!token">
      Register
    </button>
  </div>
</div>
