<div id="header" class="header fixed-top d-flex align-items-center" >
  <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center" style="text-decoration:none">
          <img src="assets/image/favicon.png" alt="logo">
          <span class="d-none d-lg-block">S-learning</span>
      </a>
  </div>
  <div class="navbar-nav d-flex flex-lg-row" id="header-menu">
    <div class="nav-item">
      <a class="underline" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </div>
    <div ngbDropdown class="nav-item" style="cursor:pointer;">
			<a class="underline" id="dropdownBasic1" ngbDropdownToggle>Topics</a>
			<div ngbDropdownMenu>
				<button ngbDropdownItem [routerLink]="['/grammar/sets']" routerLinkActive="active">
          Grammar
        </button>
				<button ngbDropdownItem [routerLink]="['/vocabulary-pronunciation/sets']" routerLinkActive="active">
          Vocab - Pronun
        </button>
			</div>
		</div>
    <div class="nav-item" >
      <a class="underline" [routerLink]="['/cards/flashcard']" routerLinkActive="active">Flashcard</a>
    </div>
  </div>
  <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search">
              <i class="bi bi-search"></i>
          </button>
      </form>
  </div>
  <div class="navbar-right">
    <button type="button" class="btn btn-light" style="margin-right: 10px;">Login</button>
    <button type="button" class="btn btn-warning" style="margin-right: 20px;">Register</button>
  </div>
</div>
