// @import '~swiper/swiper.min.css';
// @import '~swiper/modules/navigation/navigation.min.css';
// @import '~swiper/modules/pagination/pagination.min.css';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.wordcard-page{
  background-color: #f0edff;
  padding-top: 80px;
}

section{
  height: calc(100vh - 80px);
}

.cardswipwer h2{
  padding-bottom: 20px;
  text-transform: capitalize;
  color: #ffc107;
}

.flashcard {
  height: 430px;
  width: 735px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  .back{
    display: none;
  }
}

.flashcard p{
  font-size: 36px;
  margin: 0;
}

.flashcard.flipped{
  .front{
    display: none;
  }
  .back{
    display: block;
  }
}

.flashcard div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10%;
  background-color: #fff;
}

.flashcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flashcard.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.pronunciation{
  margin-bottom: 30px;
}

.pronunciation .card-body .card-title span{
  cursor: pointer;
  padding: 3px;
  position: relative;
  display: inline-block;
}

.pronunciation .card-body .card-title span:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.pronunciation .card-body .card-title span:hover:before {
  background-color: #dee6ff;
}

.pronunciation .card-body .card-title span:hover {
  color: #1A3E7E;
}

.pronunciation .card-body .card-title span i {
  position: relative;
  z-index: 1;
}

.sentences .card-body .card-title span{
  cursor: pointer;
  padding: 3px;
  position: relative;
  display: inline-block;
}

.sentences .card-body .card-title span:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.sentences .card-body .card-title span:hover:before {
  background-color: #dee6ff;
}

.sentences .card-body .card-title span:hover {
  color: #1A3E7E;
}

.sentences .card-body .card-title span i {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px){
  .card-detail{
    margin-top: 30px;
  }

  .swippercontent{
    width: 100%;
  }

  .flashcard{
    height: 250px;
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .card-detail{
    margin-top: 30px;
    padding-bottom: 200px;
    width: 200%;
  }

  .swippercontent{
    width: 100%;
  }
}
