<div class="container">
  <div class="sets col">
    <div class="sets-header d-flex align-items-center justify-content-between">
      <div class="title">
        <h2>Vocabulary - Pronunciation</h2>
      </div>
      <div class="group-feature">
        <div class="sort-select">
          <select>
            <option *ngFor="let item of items" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="btn-test">
          <button type="button" class="btn btn-outline-warning">TEST</button>
        </div>
      </div>
    </div>

    <div class="set-list row">
      <div class="col-md-3 d-flex justify-content-center" *ngFor="let item of sets | paginate: config">
        <div class="card" [routerLink]="['/flashcard', item._id]" routerLinkActive="active">
          <img src="{{item.imageUrl}}">
          <div class="card-body d-flex justify-content-center align-items-center">
            <p class="card-text" style="font-weight: 500;">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      class="custom-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="pageChanged($event)"
      #customPaginator>
    </pagination-controls>
  </div>
</div>
